<div class="MainDisplayNotesContainer">
    <div *ngFor="let notes of trashData">
        <div class="NotesContainer" [style.background-color]="notes.color">
            
            <div class="TitleInput" >
                {{notes.Title}}
            </div>

            <div class="DescriptionInput" >
                {{notes.description}}
            </div>

            <div class="BottomIconsContainer">
                <app-notesicon [clickReciever]="notes"></app-notesicon>
            </div>

        </div>
    </div>
</div>