.MainContainer
{
    width: 600px;
    max-height: 750px;
    border-radius: 7px;
    padding: 15px 15px 5px 15px;
    display: flex;
    flex-direction: column;
    
}

.TitleIntake
{
    border: 0px;
    outline: none;
    font-size: 20px;
    margin: 10px 0px;
}

.DescriptionIntake
{
    border: 0px;
    outline: none;
    font-size: 15px;
    margin: 10px 0px;
    color: rgb(48, 48, 48);
}

.BottomIcons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
}

.IconsSpaceWidth
{
    width: 55%;
}
@media only screen and (min-width:320px) and (max-width:500px)
{
.BottomIcons
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0px;
    margin-left: 5px;
    width: 54%;
}
.DescriptionIntake,.TitleIntake{
margin-left: 3px;
}
.CloseButtonArea{
    margin-right: 9.6%;
}
.IconsSpaceWidth
{
    width: 100%;
}
}