<div class="sub">
    <input class='t2'/>
    <input class='d2'/>
    <div class='icon3'>
        <img src="../../../assets/add_alert.svg" class="iconin3" height="25px">
        <img src="../../../assets/person_add.svg" class="iconin3" height="25px">
        <img src="../../../assets/palette.svg" class="iconin3" height="25px">
        <img src="../../../assets/archive_.svg" class="iconin3" height="25px">
        <img src="../../../assets/delete_.svg" class="iconin3" height="25px">
        <button class='close2' >Close</button>
    </div>
</div>