<div class='notetwo' >
    <input class='title' type='title' placeholder='Title'/>
    <input class='title' type='text' placeholder='Take a note...' />

        <div class='icons'>
          <div class='icons1'>
            <img src="../../../assets/add_alert.svg" class="iconin2" height="25px">
            <img src="../../../assets/person_add.svg" class="iconin2" height="25px">
            <img src="../../../assets/palette.svg" class="iconin2" height="25px">
            <img src="../../../assets/archive_.svg" class="iconin2" height="25px">
            <img src="../../../assets/delete_.svg" class="iconin2" height="25px">
            <img src="../../../assets/redo.svg" class="iconin2" height="25px">
            <img src="../../../assets/undo.svg" class="iconin2" height="25px">
          </div>
          <div class='close'> Close</div>
        </div>
        
</div>