<div class="MainDisplayNotesContainer">
    <div *ngFor="let notes of childData | searchnote: searchText">
        <div class="NotesContainer" [style.background-color]="notes.color">
            
            <div class="TitleInput" (click)="DialogBox(notes)">
                {{notes.Title}}
            </div>

            <div class="DescriptionInput" (click)="DialogBox(notes)">
                {{notes.description}}
            </div>

            <div class="BottomIconsContainer">
                <app-notesicon [clickReciever]="notes" (ColorEvent)="received($event)"></app-notesicon>
            </div>

        </div>
    </div>
</div>