<div class='noteone'>
    
        <div class='note1'><input class='input1' type="text" size = '80' placeholder="Take a note..." />
        <div class='note2'>
           <div class='icon11'><img src="../../../assets/check_box.svg" class="iconin1" height="25px"></div>
           <div class='icon11'><img src="../../../assets/brush.svg" class="iconin1" height="25px"></div>
           <div class='icon11'><img src="../../../assets/image.svg" class="iconin1" height="25px"></div>
        </div>
        </div>
</div> 