<div class="MainContainer">

  <div class="NoteTaker" [style.background-color]= "Color">

    <div class="SecndView" *ngIf="!firstView" >

      <form [formGroup]="NotesinData">
        <input type="text" placeholder="Title" class="SecondViewText" formControlName="title" [style.background-color]= "Color">
      </form>
      <img src="../../../assets/push_pin.svg" alt="Pin" class="PinIcon">

    </div>

    <div class="FirstView" *ngIf="firstView || !firstView" [style.background-color]= "Color">

      <form [formGroup]="NotesinData" class="FormWidthControll">
        <input type="text" placeholder="Take a note..." class="FirstViewText"  (click)="SecondView()" formControlName="description" [style.background-color]= "Color">
      </form>

      <div class="OnlyInFirstview" *ngIf="firstView">
        <img src="../../../assets/check_box.svg" alt="New List" class="FirstViewIcons">
        <img src="../../../assets/brush.svg" alt="Drawing" class="FirstViewIcons">
        <img src="../../../assets/image.svg" alt="Image" class="FirstViewIcons">
      </div>

    </div>

    <div class="BottomIcons" *ngIf="!firstView">
     <!-- <div class="LeftIcons">
        <img src="../../../assets/notifications_.svg" alt="Remind me" class="DownIcons">
        <img src="../../../assets/person_add.svg" alt="Collaborator" class="DownIcons">
        <img src="../../../assets/palette.svg" alt="Background options" class="DownIcons">
        <img src="../../../assets/image.svg" alt="Add image" class="DownIcons">
        <img src="../../../assets/archive_.svg" alt="Archive" class="DownIcons">
        <img src="../../../assets/more_vert.svg" alt="More" class="DownIcons">
        <img src="../../../assets/undo.svg" alt="Undo" class="DownIcons">
        <img src="../../../assets/redo.svg" alt="Redo" class="DownIcons">
      </div> -->

      <div class="IconsSpaceWidth">
        <app-notesicon (ColorEvent)="received($event)"></app-notesicon>
      </div>
      
      <div class="CloseButtonArea">
        <button mat-flat-button (click)="Close()" [style.background-color]= "Color">Close</button>
      </div>

    </div>
  </div>
</div>