.signin{
    border: 1px solid gray;
    border-radius: 10px;
    height: 75vh;
    width: 40vw;
    margin: auto;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
}
.google,.email1,.password,.sin,.useg,.need{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.google{
    margin-top: 5%;
    padding-bottom: 2%;
    font-size: x-large;
}
.need{
    padding-top: 5%;
    margin-right: 7.2%;
}
.useg{
    padding-top: 0;
    padding-bottom: 4%;
}
.sin{
    font-size: large;
    padding: 0;
}
.learn{
    color: blue;
    margin-left: 11%;
}
.next{
    margin-top: 4%;
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: blue;
}
.field1,.field2{
    font-size: medium;
    width: 80%;
}