.signupcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 52vw;
    height: 80vh;
    margin: auto;
    margin-top: 20px;
    border: 1px solid grey;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 10px;
}
.google1 {
    margin-top: 13%;
    padding-right: 80%;
    font-size: x-large;
}

.createnew {
    display: flex;
    justify-content: flex-start;
    padding-right: 37.6%;
    margin-top: 10px;
    font-size: large;
}

.firstcontainer {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 85%;
    
}

.secondcontainer {
    width: 30%;
    margin-left: 40px;
    margin-right: 40px;
}

.inputbox1,.inputbox2 {
    display: flex;
    margin-top: 18px;
}
.inputbox2{
    margin-bottom: 0px;
}

.inputfield3 {
    margin-top: 3%;
}
.email{
    width: 100%;
    
}
.username {
    padding-top: 3%;
    width: 100%;
    
}
.inputfield2,.inputfield5 {
    margin-left: 2%;   
    
}
.showpassword {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.signinstead {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35%;
    margin-left: 0.1%;
    margin-top: 5%;
}
.abc{
    margin-top: 2%;
    color: blue;
}
.showpassword {
    margin-top: 2%;
}
.hint{
    margin-top: 0px;
    font-size: x-small;
}