<div class="BottomIcons">

    <div class="LeftIcons">
          <img src="../../../assets/notifications_.svg" alt="Remind me" class="DownIcons">
          <img src="../../../assets/person_add.svg" alt="Collaborator" class="DownIcons">
          <img src="../../../assets/palette.svg" alt="Background options" class="DownIcons">
          <img src="../../../assets/image.svg" alt="Add image" class="DownIcons">
          <img src="../../../assets/archive_.svg" alt="Archive" class="DownIcons">
          <img src="../../../assets/more_vert.svg" alt="More" class="DownIcons">
    </div>
    
</div>