.BottomIcons
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.DownIcons
{
    height: 18px;
}

.DownIcons:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}