.BottomIcons
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
}

.DownIcons
{
    height: 18px;
}

.DownIcons:hover {
    transform: scale(1.2);
    cursor: pointer;
  }

.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

::ng-deep .BGColorPallet .mat-mdc-menu-content
{
    padding: 6%;
}


.ColorCirclesContainer
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 160px;
    height: 110px;    
}

.ColorCircle
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.TrashIconos:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.TrashIconos{
    height: 20px;  
}
@media only screen and (min-width:320px) and (max-width:480px)
{
.LeftIcons
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
}